---
export interface Props {
	icon: string;
	skill: string;
}

const { icon, skill } = Astro.props;
---

<span
	class=`skill-card w-full flex flex-col p-4 lg:flex-row items-center gap-4 border border-white border-opacity-30 hover:border-opacity-75 transition-all bg-neutral-900`
>
	<span class="bg-brand w-24 h-24 aspect-square grid place-items-center p-2">
		<i class={`fa-brands fa-${icon} text-6xl block`}></i>
	</span>
	<span class="w-full text-xl font-secondary w-full block">
		{skill}
	</span>
</span>
