<section id="about" class="w-full p-4 lg:p-16 bg-brand-secondary">
	<div class="text-center lg:flex items-center max-w-4xl m-auto">
		<h2 class="font-primary text-3xl lg:text-5xl pb-4 lg:w-1/2 lg:text-left">
			A Little About Me
		</h2>
		<p class="lg:w-1/2 max-w-md m-auto">
			Hey there! I’m Jamie, a frontend developer based in South Wales, recently
			earning my computer science degree from Aberystwyth University. With a
			passion for crafting web applications, I specialise in utilising Vue.js,
			React, SCSS, Tailwind, and other frontend technologies. By combining my
			technical expertise and creativity, I strive to create engaging and
			user-friendly digital experiences. Whether it's building responsive
			interfaces or optimising performance, I'm always dedicated to delivering
			high-quality results.
		</p>
	</div>
</section>
