<footer
	id="contact"
	class="w-full text-center lg:text-left p-4 text-white bg-neutral-950"
>
	<div class="m-auto max-w-4xl">
		<h2 class="text-brand text-6xl font-primary py-4">Get In Touch</h2>
		<p>Email: jamiegreg78@gmail.com</p>
		<div
			class="w-full flex justify-center lg:justify-end gap-4 items-center py-4"
		>
			<a
				href="https://www.linkedin.com/in/jamie-gregory-5265ba1b9/"
				target="_blank"
			>
				<i class="fa-brands fa-linkedin-in text-3xl text-brand"></i>
			</a>

			<a href="https://github.com/jamiegreg78" target="_blank">
				<i class="fa-brands fa-github text-3xl text-brand"></i>
			</a>
		</div>
	</div>
</footer>
