<section
	id="home"
	class="w-full overflow-x-hidden h-full grid place-items-center bg-brand relative"
>
	<span class="text-center block lg:w-full max-w-5xl">
		<h1
			class="animate__animated animate__fadeInLeft animate__faster animate__delay-0s font-primary text-5xl px-8 md:text-7xl lg:text-9xl lg:w-full lg:text-left"
		>
			Jamie Gregory
		</h1>
		<h3
			class="block animate__animated animate__fadeInRight animate__faster animate__delay-0s font-primary text-3xl md:text-4xl lg:text-6xl lg:text-right lg:w-full"
		>
			Frontend Developer
		</h3>
	</span>
	<span class="absolute w-full h-full pointer-events-none">
		<a
			class="pointer-events-auto absolute top-4 left-4 lg:top-8 lg:left-8 transition-all hover:scale-105 font-secondary after:content-[''] after:transition-all after:block after:h-1 after:w-0 hover:after:w-full after:bg-black after:bg-opacity-20"
			href="#about">About Me</a
		>
		<a
			class="pointer-events-auto absolute top-4 right-4 lg:top-8 lg:right-8 transition-all hover:scale-105 font-secondary after:content-[''] after:transition-all after:block after:h-1 after:w-0 hover:after:w-full after:bg-black after:bg-opacity-20"
			href="#skills">Skills</a
		>
		<a
			class="pointer-events-auto absolute bottom-4 left-4 lg:bottom-8 lg:left-8 transition-all hover:scale-105 font-secondary after:content-[''] after:transition-all after:block after:h-1 after:w-0 hover:after:w-full after:bg-black after:bg-opacity-20"
			href="#projects">Projects</a
		>
		<a
			class="pointer-events-auto absolute bottom-4 right-4 lg:bottom-8 lg:right-8 transition-all hover:scale-105 font-secondary after:content-[''] after:transition-all after:block after:h-1 after:w-0 hover:after:w-full after:bg-black after:bg-opacity-20"
			href="#contact">Contact</a
		>
	</span>
</section>
